@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body,
html {
  font-family: "Exo", sans-serif;
  background-image: url('./images/PicoleBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.Home > h2 {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home > div {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .9rem;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  font-family: "Exo";
  background: rgba(126, 74, 158, 0.77);
  border-radius: 10px;
  padding: 1rem;
  width: 315px;
  display: flex;
  justify-content: space-between;
}

.PaletaCardItem {
  margin: 20px 0;
  height: 150px;
  width: 315px;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 1em;
  font-weight: 700;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  font-size: 1.1em;
  color: rgb(50, 6, 53);
  font-weight: 600;
}

.PaletaListaItem__foto {
  height: 180px;
  margin-right: auto;
}

.paleta-escolhida-espaço {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
}

#idPaleta {
  padding: 0.6rem;
  width: 100%;
  border: #545353f0;
  border-radius: 0.3rem;
}

#idPaletaButton {
  background-color: rgba(69, 46, 89, 0.56);
  border: 1px solid #9400d3;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-top: 0.3rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
}

#idPaletaButton:hover {
  background-color: rgb(184, 163, 163);
  color: black;
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}
.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(126, 74, 158, 0.77);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 75px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2em;
}

Logo__icone {
  position: absolute;
  left: -15px;
  top: -10px;
}

.Sacola {
  position: relative;
  background-color: rgba(126, 74, 158, 0.586);
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }
  .row {
    column-gap: 20px;
  }
  .Logo__titulo {
    font-size: 1.5em;
  }
}

/*AULA 02 VIDEO 01*/